@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

:root {
  --background: #f0f8ff;
  --foreground: #1a1a2e;
  --secondary: #007944;
  --tertiary: #55bddc;

  --font-pixelify: "Pixelify Sans", sans-serif;
  color-scheme: light dark;
  color: var(--foreground);
  background-color: var(--background);
}

.dark {
  --background: #faf7d7;
  --foreground: #21161a;
  --secondary: #cf602b;
  --tertiary: #f4ad39;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

#root {
  font-family: var(--font-pixelify);
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
